.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  top: 0;
  position: sticky;
  padding: 1rem;
  background-color: white

}
.header_logo {
  margin-left: 1.5rem;
} 
.header img{
  height: 9.5rem;
}
.header_left {
  display: flex;
  align-items: center;
}
.header_input{
  display: flex;
  align-items: center;
  border: 0.1rem solid rgb(124, 116, 116);
  width: 40%;
}
.header_input > input{
  flex: 1;
  border: none;
  outline: none;
}
.header_icon{
  margin-right: 0.1rem;
}

 .header_searchIcon{
  width: 5rem !important;
  background-color: #fafafa;
  color: gray;
  border-left: 0.1rem solid rgb(226, 220, 220);
}
.header_right{
  display: flex;
  align-items: center;
}
